<h1>Welcome, <%= @user.email %></h1>

<%= link_to 'Profile', "/users/#{@user.id}" %>


<ol>
  <% @bestsellers.each do |book| %>
    <li><%= book['title'] %> by <%= book['author'] %></li>
  <% end %>
</ol>




<%# Loop Through @bestseller_list, and print the title, author to the page %>