---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2020 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2020-10-14T23:39:01-04:00","results":{"list_name":"Hardcover
        Fiction","list_name_encoded":"hardcover-fiction","bestsellers_date":"2020-10-10","published_date":"2020-10-25","published_date_description":"latest","next_published_date":"","previous_published_date":"2020-10-18","display_name":"Hardcover
        Fiction","normal_list_ends_at":15,"updated":"WEEKLY","books":[{"rank":1,"rank_last_week":1,"weeks_on_list":2,"asterisk":0,"dagger":0,"primary_isbn10":"1538728575","primary_isbn13":"9781538728574","publisher":"Grand
        Central","description":"A doctor serving in the Navy in Afghanistan goes back
        to North Carolina where two women change his life.","price":0,"title":"THE
        RETURN","author":"Nicholas Sparks","contributor":"by Nicholas Sparks","contributor_note":"","book_image":"https:\/\/s1.nyt.com\/du\/books\/images\/9781538728574.jpg","book_image_width":329,"book_image_height":500,"amazon_product_url":"https:\/\/www.amazon.com\/dp\/1538728575?tag=NYTBSREV-20&tag=NYTBS-20","age_group":"","book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":"","isbns":[{"isbn10":"1538728575","isbn13":"9781538728574"},{"isbn10":"1538718979","isbn13":"9781538718971"},{"isbn10":"1478992670","isbn13":"9781478992677"},{"isbn10":"1549102214","isbn13":"9781549102219"},{"isbn10":"1549106570","isbn13":"9781549106576"}],"buy_links":[{"name":"Amazon","url":"https:\/\/www.amazon.com\/dp\/1538728575?tag=NYTBSREV-20&tag=NYTBS-20"},{"name":"Apple
        Books","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/buy?title=THE+RETURN&author=Nicholas+Sparks"},{"name":"Barnes
        and Noble","url":"https:\/\/www.anrdoezrs.net\/click-7990613-11819508?url=https%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9781538728574"},{"name":"Books-A-Million","url":"https:\/\/www.anrdoezrs.net\/click-7990613-35140?url=https%3A%2F%2Fwww.booksamillion.com%2Fp%2FTHE%2BRETURN%2FNicholas%2BSparks%2F9781538728574"},{"name":"Bookshop","url":"https:\/\/bookshop.org\/a\/3546\/9781538728574"},{"name":"Indiebound","url":"https:\/\/www.indiebound.org\/book\/9781538728574?aff=NYT"}],"book_uri":"nyt:\/\/book\/b9bf792c-a853-54ce-8f33-7117f51be365"},{"rank":2,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"primary_isbn10":"0316435589","primary_isbn13":"9780316435581","publisher":"Little,
        Brown","description":"The final installment of the trilogy that includes \u201cWinter
        in Paradise\u201d and \u201cWhat Happens in Paradise.\u201d","price":0,"title":"TROUBLES
        IN PARADISE","author":"Elin Hilderbrand","contributor":"by Elin Hilderbrand","contributor_no[...]
